aclocal.m4
CMakeCache.txt
CMakeFiles
CMakeCache.txt
CMakeFiles/
_CPack_Packages/
CTestTestfile.cmake
LibKSConfig.cmake
LibKS2Config.cmake
cmake_install.cmake
libks2.so
libks2.so.*
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/cmake_install.cmake
tests/testthreadpools
autom4te.cache
configure
config.status
config.log
libtool
Makefile
Makefile.in
*.o
*.lo
*.la
*.pc
.libs
.dirstamp
.deps
build
tests/test_thread_pools
tests/testacl
tests/testrealloc
tests/teststring
tests/testjson
tests/testhandle
:w
uninstall.cmake
install_manifest.txt
/cmake_install.cmake
Testing
core
cotire/
*_cotire.cmake
*.dylib
*.vcxproj*
*.dir
*.sln
/Debug
/tests/Debug
/x64
/_3rdParty
/external
LibKS-*
CPack*
*.deb
*manifest*
changelog.Debian
changelog.Debian.gz
build-Win32/
build-x64/
!win/*
tests/testjsonschema
json-schema-validator
