/*chosen select modifications*/
.chosen-single {
	background: transparent !important;
	border: none !important;
}
.chosen-container-multi .chosen-choices{    
	border:none;
	border-bottom: 1px solid #aaa;
	box-shadow: none;
	background: none;
}
.chosen-container-single:focus, .chosen-container-single:hover{
	box-shadow: none !important;
	background: none !important;
}
.chosen-container-active{
	box-shadow: none !important;
	background: none !important;
}
.chosen-container-active a{
	box-shadow: none !important;
	background: none !important;
}
