.block-header h2 {
    margin-bottom:8px!important;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: larger;
}

.form-horizontal   {
    padding-top: 40px;
    padding-bottom: 40px;
}


.form-horizontal .form-group {
    margin-bottom: 15px;
}





.form-group .form-control {
    border: 0px solid #ccc;
    border-bottom: 1px solid #cccc;
}
.form-group .form-control:focus {
    border-bottom: 1px solid #00bcd4;
}
.panel_toolbox{
    margin-top: -16px;
}
/****parsley */
p.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}
p.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}
ul.parsley-errors-list {
    list-style: none;
    color: #E74C3C;
    padding-left: 0;
}
input.parsley-error,
textarea.parsley-error,
select.parsley-error {
    /*background: #FAEDEC;*/
    border-bottom: 1px solid #E85445 !important;
}
.btn-group .parsley-errors-list {
    display: none;
}
.page_records .form-control {
    display: inline;
    width: auto;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #00000003;
    cursor: not-allowed;
}
/***checkbox on off**/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 29px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bb2424;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #12AE1B;
}

input:focus + .slider {
    box-shadow: 0 0 1px #12AE1B;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/****toast****/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: orange;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.table-bordered tfoot tr th {
    background: #eaeaea;
    border: 1px solid #dfdfdf;
    border-top-color: rgb(223, 223, 223);
    border-top-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
}
.pagination-sm > li:first-child > a, .pagination-sm > li:last-child > a {
    width: 55px;
} 